
:root {
    --main-bg-color: #2896f0;
  }

*{
    padding: 0;
    margin: 0;
}
header{
    /* background: var(--main-bg-color);  */
    background-color: #0074D9;
    font-family: 'Lato', sans-serif;
    /* position: fixed; */
}

nav{
    display: flex;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    width: 88px;
    padding: 0 25px;
    position: fixed;
}

nav ul{
    height: 58px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav ul li{
    list-style: none; 
    padding: 0 23px;
}

nav ul li a{
    color: white;
    text-decoration: none;
}

nav ul li a:hover{ 
    font-weight: bolder;
}

.search{
    /* display: flex;
    align-items: center; */
    
    color: #f2f2f2;
    float: right;
    padding-left: 100px;
    padding-top: 13px;
    margin-right: 16px;
    font-size: 12px;
    border: none;
    cursor: search;
    
}

.search input{
    width: 30vw;
    height: 27px;
    border-radius: 5px;
    margin: 0 16px 0 56px;
    padding:0 12px;
}

.search button{
    font-family: 'Lato', sans-serif;
    font-weight: 900;
}

footer{
    height: 12vh;
    background-color: var(--main-bg-color); 
    color: white;
    font-family: 'Cinzel', serif;
}
.flex-all-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    min-height: calc(100vh - 58px - 12vh);
}
.slider{ 
    width: 80vw;
    margin: 12px auto;
    overflow: hidden;
}

.card{
    max-width: 91vw;
    margin: 37px auto;
    font-family: 'Ubuntu', sans-serif;
}

.cards{
    display: flex; 
    overflow: hidden;
    
}

.card-item{
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 15px;
}

.card h2{
    font-family: 'Lato', sans-serif;
}

.container{
    min-height: calc(100vh - 58px - 12vh);
}
.account{
    /* border: 4px solid violet; */
    /* position: fixed; */
    color: black;
    margin-left: 40px;
    padding: 5px;
    
}

@keyframes changecolor {
    0% { background-color: red; }
    25% { width: 800px; }
    50% { background-color: orangered; }
    75% { width: 500px}
    100% {background-color: orange; }
}
@keyframes changecolor_h1 {
    0% { background-color: red; }
    25% { width: 100%; }
    50% { background-color: orangered; }
    75% { width: 500px}
    100% {background-color: orange; }
}
#animate{
    
    background-color: red;
    width: 500px;
    height: 100px;
    animation-name: changecolor_h1;
    animation-duration: 8s; 
    animation-iteration-count: infinite;
    font-size: 25px;
    /* font-weight: 1000; */
    font-family: 'Shadows Into Light', cursive;
    /* padding-left: 700px; */
}
.s-color{
    background-color: red;
    width: 500px;
    height: 28px;
    animation-name: changecolor;
    animation-duration: 4s; 
    animation-iteration-count: infinite;
}
body{
    /* background-color: rgb(229, 247, 131); */
    /* background-color: yellow; */
}
#img{
    /* padding-left: 50px; */
    /* border: 1px solid black; */
    height: 600px;
    width: 100%;
    object-fit: cover;
    /* padding-left: 200px; */
}
/* @keyframes changeshape {
    0% { background-color: red;
    border-radius: 0%}
    0% { background-color: red; border-radius: 0%;}
    10% { background-color: yellow; border-radius: 10%;}
    20% { background-color: green; border-radius: 20%;}
    30% { background-color: orange; border-radius: 30%;}
    40% { background-color: red; border-radius: 40%;}
    50% { background-color: olive; border-radius: 50%;}
    60% { background-color: orange; border-radius: 40%;}
    70% { background-color: green; border-radius: 30%;}
    80% { background-color: blue; border-radius: 20%;}
    90% { background-color: yellow; border-radius: 10%;}
    100% { background-color: red; border-radius: 10%;}
}
#circle{
    background-color: red;
    height: 50px;
    width: 50px;
    animation-name: changeshape;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
} */
.detail{
    text-align: center;
    background-image: url("12.png");
    background-position: center center;
    background-repeat: no-repeat;
    
    /* background-size: 100%; */
    /* border: 10px solid black; */
    background-color: rgb(96, 194, 240);
    color: black;
    font-size: 50px;
    font-weight: bold;
}

label,
footer {
    font-family: sans-serif;
}
label {
    font-size: 1rem;
    padding-right: 10px;
}
h1{
    text-align: center;
    /* text-decoration: underline; */
}
main{
    background-color: rgb(148, 240, 247);
}
#font_color{
    color: black;
    font-size: 30px;
    font-weight: bold;
}
#help{
    padding-left: 150px;
}